 
<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
       
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a href="/clinical/dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
         </a>
        </li>
        <li>
          <a href="/clinical/dashboard">
            <i class="fa fa-home"></i> <span>Billing Home</span>
         </a>
        </li>
       <li class="treeview">
          <a href="#">
            <i class="fa fa-bed"></i> <span>HIM Unit</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"> </i> HIM Dashboard</a></li>
            <li><a class="popup" onclick="myFunction()"> </i> New Patient Enrolment<span class="popuptext" id="myPopup">Get full version at mayuri.infospace@gmail.com</span></a></li>
            <li><a href="#"> </i> Update patient Record</a></li>
            <li><a href="#"> </i> New Patient Registered</a></li>
           </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-upload"></i> <span>Out-Patient Clininc</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a class="popup" onclick="myFunction()"> Doctor Signin<span class="popuptext" id="myPopup">Get full version at mayuri.infospace@gmail.com</span></a></li>
            </ul>
        </li>
         <li class="treeview">
          <a href="#">
            <i class="fa fa-upload"></i> <span>In-Patient/Wards</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="../Services/addservices.php"></i> Wards Login</a></li> 
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-file"></i> <span>Direct Request</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-plus-circle"></i> New Request</a></li>
            <li><a href="#"><i class="fa fa-edit"></i> New IGR Payment</a></li>
          </ul>
        </li>
         
        </ul>
    </section>
    <!-- /.sidebar -->
  </aside>