<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
      <!-- Sidebar menu -->
      <li class="treeview">
        
        <ul class="treeview-menu">
          <li>
            <a href="{{ url_for('add_user') }}">
                <i class="fa fa-users"></i> <span>Manage Users</span>
            </a>
        </li>
         </ul>
      </li>
      <ul class="sidebar-menu">
          <li>
              <a href="/admin/dashboard">
                  <i class="fa fa-dashboard"></i> <span>Dashboard</span>
              </a>
          </li>
          <li>
            <a href="{{ url_for('manage_ehr_fees') }}">
              <i class="fa fa-money"></i> <span>Manage EHR Fees</span>
            </a>
          </li>
          <li>
              <a href="{{ url_for('add_user') }}">
                  <i class="fa fa-user"></i> <span>Add User</span>
              </a>
          </li>
          <li>
              <a href="{{ url_for('user_list') }}">
                  <i class="fa fa-users"></i> <span>List of Users</span> 
              </a>
          </li>
          <li>
            <a href="{{ url_for('add_department') }}">
                <i class="fa fa-building"></i> <span>Add Department</span>
            </a>
        </li>
        <li>
          <a href="{{ url_for('list_departments') }}">
              <i class="fa fa-building"></i> <span>Department List</span>
          </a>
      </li>
      </ul>
  </section>
  <!-- /.sidebar -->
</aside>