{% include 'include_admin/header.html' %}
{% include 'include_admin/sidebar.html' %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>Add New EHR Fee</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin_dashboard') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="{{ url_for('manage_ehr_fees') }}">Manage EHR Fees</a></li>
            <li class="active">Add EHR Fee</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Enter EHR Fee Information</h3>
                    </div>
                    <!-- /.box-header -->
                    <form method="POST" action="{{ url_for('add_ehr_fee') }}">
                        <!-- Department Dropdown -->
                        <div class="form-group">
                            <label for="department_name">Department:</label>
                            <select class="form-control" id="department_name" name="department_name" required>
                                <option value="" disabled selected>Select a department</option>
                                {% for department in departments %}
                                    <option value="{{ department.department_name }}">{{ department.department_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="service_name">Service Name:</label>
                            <input type="text" class="form-control" id="sevice_name" name="service_name" required>
                        </div>

                        <div class="form-group">
                            <label for="service_code">Service Code:</label>
                            <input type="text" class="form-control" id="sevice_code" name="service_code" required>
                        </div>
                        <div class="form-group">
                            <label for="service_fee">Service fee:</label>
                            <input type="text" class="form-control" id="service_fee" name="service_fee" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add EHR Fee</button>
                    </form>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

{% include 'include_admin/footer.html' %}