{% include 'include_clinical/header.html' %}
 {% include 'include_clinical/sidebar.html' %}
<div class="content-wrapper">
<section class="content-header">
      <h1>
        Dashboard
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
      <!-- /.col -->
        <div class="col-md-12">
          <div class="box box-primary">
            
            <!-- /.box-body -->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
    
      </div>
    </section>
    <!-- /.content -->
  </div>
  {% include 'include_clinical/footer.html' %}