{% include 'include_admin/header.html' %}
{% include 'include_admin/sidebar.html' %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>Department List</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.admin_dashboard') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Department List</li>
        </ol>
    </section>

    <section class="content">
        <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div id="flash-messages" class="alert-container">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">List of Departments</h3>
                        <a href="{{ url_for('admin.add_department') }}" class="btn btn-primary">Add New Department</a>
                    </div>
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>ID</th>
                                    <th>Code</th>
                                    <th>Type</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for department in departments %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ department.department_name }}</td>
                                        <td>{{ department.department_id }}</td>
                                        <td>{{ department.department_abbreviation }}</td>
                                        <td>{{ department.department_typ }}</td>
                                        <td>
                                            <a href="{{ url_for('admin.edit_department', department_id=department._id) }}" class="btn btn-warning btn-xs">Edit</a>
                                            <a href="{{ url_for('admin.delete_department', department_id=department._id) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this department?');">Delete Department</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% include 'include_clinical/footer.html' %}