{% include 'include_admin/header.html' %}
{% include 'include_admin/sidebar.html' %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>Edit User</h1>
    </section>

    <section class="content">
        <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div id="flash-messages" class="alert-container">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Update User Information</h3>
                    </div>
                    <form method="POST" action="{{ url_for('admin.edit_user', user_id=user._id) }}">
                        <!-- Existing user fields here -->
                        <div class="form-group">
                            <label for="firstname">First Name:</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" value="{{ user.firstname }}" required>
                        </div>
                        <div class="form-group">
                            <label for="middlename">Middle Name:</label>
                            <input type="text" class="form-control" id="middlename" name="middlename" value="{{ user.middlename }}">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name:</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" value="{{ user.lastname }}" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
                        </div>
                        <div class="form-group">
                            <label for="phonenumber">Phone Number:</label>
                            <input type="text" class="form-control" id="phonenumber" name="phonenumber" value="{{ user.phonenumber }}" required>
                        </div>
                        <div class="form-group">
                            <label for="ippisno">IPPIS NO:</label>
                            <input type="text" class="form-control" id="ippisno" name="ippisno" value="{{ user.ippisno }}" required>
                        </div>
                        <div class="form-group">
                            <label for="department">Primary Department:</label>
                            <select class="form-control" id="department" name="department">
                                <option value="" disabled>Select a department</option>
                                {% for department in departments %}
                                    <option value="{{ department.department_name }}" 
                                        {% if user.department == department.department_name %} selected {% endif %}>
                                        {{ department.department_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="rank">Rank:</label>
                            <input type="text" class="form-control" id="rank" name="rank" value="{{ user.rank }}" required>
                        </div>
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
                        </div>

                        <!--upgrading user role-->
                        <div class="form-group">
                            <label for="role">Upgrade User Privilege:</label>
                            <select class="form-control" id="role" name="role">
                                <option value="admin-user" {% if user.role == 'admin' %}selected{% endif %}>Admin</option>
                                <option value="medpay-user" {% if user.role == 'medpay' %}selected{% endif %}>Medpay</option>
                                <option value="clinical-services" {% if user.role == 'clinical' %}selected{% endif %}>Clinical</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Update User</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

{% include 'include_admin/footer.html' %}