{% include 'include_clinical/header.html' %}
{% include 'include_clinical/sidebar.html' %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Patient List
            <small>Details of all registered patients</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('clinical_dashboard') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Patient List</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">List of Patients</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Patient Name</th>
                                    <th>Phone Number</th>
                                    <th>Address</th>
                                    <th>Created</th>
                                    <th>Registered By</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for patient in patients %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ patient.patient_first_name }} {{ patient.patient_middle_name }} {{ patient.patient_surname_name }}</td>
                                    <td>{{ patient.phone_number }}</td>
                                    <td>{{ patient.address }}</td>
                                    <td>{{ patient.created }}</td>
                                    <td>{{ patient.registered_by }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

{% include 'include_clinical/footer.html' %}